<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->


  <section class="content">

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-primary" >
        <div class="panel-heading">
          <div class="panel-title">Register</div>
        </div>

        <div style="padding-top:30px" class="panel-body" >

          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

          <form id="loginform" class="form-horizontal" role="form" method="post">

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="login-username" type="email" class="form-control" name="username" value="" placeholder="Email">
            </div>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class=" glyphicon glyphicon-lock"></i></span>
              <input id="login-password" type="password" class="form-control" name="password" value="" placeholder="password">
            </div>

            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-offset-5 col-sm-2 col-sm-offset-5 controls">
                <button type="submit" id="btn-login" class="btn btn-primary">Submit </button>


              </div>
            </div>

          </form>



        </div>
      </div>
    </div>
    <!-- Your Page Content Here -->

  </section>
  <!-- /.content -->
</div>
