<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <form class="bootstrap-form-with-validation">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Institute Details</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteName" class="control-label">Institute Name</label>
                    <input type="text" name="instituteName" class="form-control" id="instituteName" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteCode" class="control-label">Institute Code</label>
                    <input type="text" name="instituteCode" class="form-control" id="instituteCode" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteTIN" class="control-label">Institute TIN Number</label>
                    <input type="text" name="instituteTIN" class="form-control" id="instituteTIN" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteTAN" class="control-label">Institute TAN Number</label>
                    <input type="text" name="instituteTAN" class="form-control" id="instituteTAN" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="numberOfStudents" class="control-label">Number Of Students</label>
                    <input type="number" name="numberOfStudents" class="form-control" id="numberOfStudents" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="numberOfStaff" class="control-label">Nuber Of Staff</label>
                    <input type="number" name="numberOfStaff" class="form-control" id="numberOfStaff" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteRegisteredDate" class="control-label">Institute Registered Date (Started)</label>
                    <input type="date" class="form-control" id="instituteRegisteredDate" name="instituteRegisteredDate" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="registeredLicience" class="control-label">Registered Licience</label>
                    <input type="file" name="registeredLicience" id="registeredLicience" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Institute Stands As</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <div class="radio">
                      <label class="control-label">
                        <input type="radio" name="radio-group" />Parent Branch</label>
                    </div>
                    <div class="radio">
                      <label class="control-label">
                        <input type="radio" name="radio-group" checked />Subsidery Branch</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="search-input" class="control-label">Search for IParent nstitute Code</label>
                    <div class="input-group">
                      <div class="input-group-addon"><span> <i class="glyphicon glyphicon-search"></i></span></div>
                      <input type="search" name="search-input" class="form-control" id="search-input" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="parentInstituteCode" class="control-label">Parent Institute Code</label>
                    <input type="text" readonly name="parentInstituteCode" class="form-control" id="parentInstituteCode" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="parentInstituteName" class="control-label">Parent Institute Name</label>
                    <input type="text" readonly name="parentInstituteName" class="form-control" id="parentInstituteName" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="parentInstituteTIN" class="control-label">Parent Institute TIN Number</label>
                    <input type="text" readonly name="parentInstituteTIN" class="form-control" id="parentInstituteTIN" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="parentInstituteTAN" class="control-label">Parent Institute TAN Number</label>
                    <input type="text" readonly name="parentInstituteTAN" class="form-control" id="parentInstituteTAN" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="parentInstituteRegisteredDate" class="control-label">Parent Institute Registered Date</label>
                    <input type="date" readonly class="form-control" id="parentInstituteRegisteredDate" name="parentInstituteRegisteredDate" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="agreementLicienceAsSubsidery" class="control-label">Agreement Licience As Subsidery</label>
                    <input type="file" name="agreementLicienceAsSubsidery" id="agreementLicienceAsSubsidery" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="agreementDatewithParent" class="control-label">Agreement Date with Parent</label>
                    <input type="date" class="form-control" id="agreementDatewithParent" name="agreementDatewithParent" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Institute Nature</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="governamentInstitute" class="control-label">
                        <input type="checkbox" name="governamentInstitute" id="governamentInstitute" />Governament Institute</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="publicTrust" class="control-label">
                        <input type="checkbox" name="publicTrust" id="publicTrust" />Public Trust</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="private" class="control-label">
                        <input type="checkbox" name="private" id="private" />Private</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="aided" class="control-label">
                        <input type="checkbox" name="aided" id="aided" />Aided</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="privateTrust" class="control-label">
                        <input type="checkbox" name="privateTrust" id="privateTrust" />Private Trust</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Affliated Under </h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="board" class="control-label">
                        <input type="checkbox" name="board" id="board" />Board</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="university" class="control-label">
                        <input type="checkbox" name="university" id="university" />University</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Board or University Details</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="boardName" class="control-label">Board Name</label>
                    <input type="text" name="boardName" class="form-control" id="boardName" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="boardCode" class="control-label">Board Code</label>
                    <input type="text" name="boardCode" class="form-control" id="boardCode" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="boardState" class="control-label">Board State</label>
                    <input type="text" name="boardState" class="form-control" id="boardState" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="dateRegisteredwithBoard" class="control-label">Date of Institute Registered with Board</label>
                    <input type="date" class="form-control" name="dateRegisteredwithBoard" id="dateRegisteredwithBoard" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="documents" class="control-label">Documents </label>
                    <input type="file" name="documents" id="documents" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Institute Adress Details</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="institutePlotNumber" class="control-label">Institute Plot Number</label>
                    <input type="text" name="institutePlotNumber" class="form-control" id="institutePlotNumber" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteStreet" class="control-label">Institute Street/Area</label>
                    <input type="text" name="instituteStreet" class="form-control" id="instituteStreet" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteMandal" class="control-label">Institute Taluq/Mandal</label>
                    <input type="text" name="instituteMandal" class="form-control" id="instituteMandal" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteCity" class="control-label">Institute Town/City</label>
                    <input type="text" name="instituteCity" class="form-control" id="instituteCity" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteDistrict" class="control-label">Institute District</label>
                    <input type="text" name="instituteDistrict" class="form-control" id="instituteDistrict" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteState" class="control-label">Institute State</label>
                    <input type="text" name="instituteState" class="form-control" id="instituteState" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="institutePincode" class="control-label">Institute Pincode</label>
                    <input type="text" name="institutePincode" class="form-control" id="institutePincode" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="institutePhone" class="control-label">Institute Phone No</label>
                    <input type="text" name="institutePhone" class="form-control" id="institutePhone" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteMobile" class="control-label">Institute Mobile No</label>
                    <input type="text" name="instituteMobile" class="form-control" id="instituteMobile" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteFax" class="control-label">Institute Fax</label>
                    <input type="text" name="instituteFax" class="form-control" id="instituteFax" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Courses Offered By Institute</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="playSchool" class="control-label">
                        <input type="checkbox" name="playSchool" id="playSchool" />School Play School</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="schoolItoX" class="control-label">
                        <input type="checkbox" name="schoolItoX" id="schoolItoX" />School I - X</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="plusTwo" class="control-label">
                        <input type="checkbox" name="plusTwo" id="plusTwo" />+ 2</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="underGraduation" class="control-label">
                        <input type="checkbox" name="underGraduation" id="underGraduation" /> Under Graduation</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="postGraduation" class="control-label">
                        <input type="checkbox" name="postGraduation" id="postGraduation" />Post Graduation</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="otherCourses" class="control-label">
                        <input type="checkbox" name="otherCourses" />Other Cousrses</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Contact Person Details</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactName" class="control-label">Contact Name</label>
                    <input type="text" name="contactName" class="form-control" id="contactName" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="designation" class="control-label">Designation</label>
                    <input type="text" name="designation" class="form-control" id="designation" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonPlotNumber" class="control-label"> Plot Number</label>
                    <input type="text" name="contactPersonPlotNumber" class="form-control" id="contactPersonPlotNumber" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonStreet" class="control-label"> Street/Area</label>
                    <input type="text" name="contactPersonStreet" class="form-control" id="contactPersonStreet" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonTaluq" class="control-label"> Taluq/Mandal</label>
                    <input type="text" name="contactPersonTaluq" class="form-control" id="contactPersonTaluq" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonCity" class="control-label"> Town/City</label>
                    <input type="text" name="contactPersonCity" class="form-control" id="contactPersonCity" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonDistrict" class="control-label"> District</label>
                    <input type="text" name="contactPersonDistrict" class="form-control" id="contactPersonDistrict" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonState" class="control-label"> State</label>
                    <input type="text" name="contactPersonState" class="form-control" id="contactPersonState" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonPIN" class="control-label"> Pincode</label>
                    <input type="text" name="contactPersonPIN" class="form-control" id="contactPersonPIN" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonPhone" class="control-label"> Phone No</label>
                    <input type="tel" name="contactPersonPhone" class="form-control" id="contactPersonPhone" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonMobile" class="control-label"> Mobile No</label>
                    <input type="tel" name="contactPersonMobile" class="form-control" id="contactPersonMobile" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonFax" class="control-label"> Fax</label>
                    <input type="tel" name="contactPersonFax" class="form-control" id="contactPersonFax" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="contactPersonEmail" class="control-label"> Email</label>
                    <input type="email" name="contactPersonEmail" class="form-control" id="contactPersonEmail" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Institute Website Details</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instituteEmail" class="control-label">Institute Email</label>
                    <input type="text" name="instituteEmail" class="form-control" id="instituteEmail" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="instiituteWebsilte" class="control-label">Instiitute Websilte URL</label>
                    <input type="text" name="instiituteWebsilte" class="form-control" id="instiituteWebsilte" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Social Network URLs</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="facebook" class="control-label">
                        <input type="checkbox" name="facebook" id="facebook" />Facebook</label>
                    </div>
                    <input type="text" name="facebook-input" class="form-control" id="facebook-input" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="twitter" class="control-label">
                        <input type="checkbox" name="twitter" id="twitter" />Twitter</label>
                    </div>
                    <input type="text" name="twitter-input" class="form-control" id="twitter-input" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Declaration </h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="declaration" class="control-label">
                        <input type="checkbox" name="declaration" id="declaration" />I Declare what ever submited are true</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <button class="btn btn-primary active" type="submit">Submit </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </section>
  <!-- /.content -->
</div>
